In [1]:
# dependencies

import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [2]:
# upload csvs
wine_file = "winemag-data_first150k.csv"
wine_i = "Wine_imports.csv"

wine_df = pd.read_csv(wine_file)
wine_import = pd.read_csv(wine_i)

wine_df.head(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [3]:
# delete unnamed
del wine_df['Unnamed: 0']

In [4]:
# print cleaner wine df
wine_df

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [5]:
# import csv print
wine_import.head(5)

   ID        Country           Imports % change from 2018 imports
0   0   United States  $6,487,295,000                       0.60%
1   1  United Kingdom  $4,429,517,000                       1.30%
2   2         Germany  $2,883,085,000                      -9.10%
3   3           China  $2,444,671,000                     -14.40%
4   4          Canada  $1,949,254,000                      -2.40%

In [6]:
# sqlite create engine

engine = create_engine('sqlite:///wine_db.sqlite', echo=False)

In [7]:
# create base
Base = declarative_base()

In [8]:
# all wine table create
class Wine(Base):
    __tablename__ = 'wine'
    id = Column(Integer, primary_key=True)
    country = Column(String)
    description = Column(String)
    designation = Column(String)
    points = Column(Integer)
    price = Column(Integer)
    province = Column(String)
    region_1 = Column(String)
    region_2 = Column(String)
    variety = Column(String)
    winery = Column(String)
    
    def __init__(self, country, description, designation, points, price, province, region01, region02, variety, winery):
        self.country = country
        self.description = description
        self.designation = designation
        self.points = points
        self.price = price
        self.province = province
        self.region_1 = region_1
        self.region_2 = region_2
        self.variety = variety
        self.winery = winery

In [22]:
class Imports(Base):
    __tablename__= 'imports'
    id = Column(Integer, primary_key=True)
    country = Column(String)
    imports_usd = Column(String)
    imports_change = Column(String)
    
    def __init__(self, country, imports_usd, imports_change):
        self.country = Country
        self.imports_usd = Imports_usd
        self.imports_change = imports_change

/Users/emmalimoli/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/sqlalchemy/ext/declarative/clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Imports, and will be replaced in the string-lookup table.
  util.warn(

InvalidRequestError: Table 'imports' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [10]:
# set up session
session = Session (bind=engine)

In [11]:
# create all metadata base engine
Base.metadata.create_all(engine)

In [12]:
# create sqlite filepath wine_all
sqlite_path = "wine_db.sqlite"

engine = create_engine(f'sqlite:///{sqlite_path}')

In [90]:
# sqlite_wine_two = "wine_imports_db.sqlite"

# engine = create_engine(f'sqlite:///{sqlite_wine_two}')

In [13]:
# engine execute wine_all
wine_all_df = engine.execute("SELECT * FROM wine")

print(wine_all_df)

<sqlalchemy.engine.result.ResultProxy object at 0x10910ae20>

In [14]:
# engine execute imports

wine_import_df = engine.execute("SELECT * FROM imports")

print(wine_import_df)

<sqlalchemy.engine.result.ResultProxy object at 0x10adf9ac0>

In [62]:
# create table for imports
engine.execute('''CREATE TABLE imports (
ID INT NOT NULL PRIMARY KEY,
country VARCHAR(50) NOT NULL,
imports_usd VARCHAR(50) NOT NULL,
imports_change VARCHAR(50) NOT NULL
);''')

In [15]:
# check table names
engine.table_names()

['imports', 'wine']

In [16]:
# create dataframe to pull into sqlite file
res = engine.execute('''Select * from wine;''')
pd.DataFrame(res)

Empty DataFrame
Columns: []
Index: []

In [17]:
# create sqlite file database for imports
res_two = engine.execute('''Select * from imports;''')
pd.DataFrame(res_two)

Empty DataFrame
Columns: []
Index: []

In [20]:
wine_df

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [23]:
# turn pandas csv dataframe into sqlite database wine
wine_df.to_sql(name='wine', con=engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table wine has no column named region_1
[SQL: INSERT INTO wine (country, description, designation, points, price, province, region_1, region_2, variety, winery) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('US', 'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel  ... (57 characters truncated) ... ubtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.', "Martha's Vineyard", 96, 235.0, 'California', 'Napa Valley', 'Napa', 'Cabernet Sauvignon', 'Heitz'), ('Spain', 'Ripe aromas of fig, blackberry and cassis are softened and sweetened by a slathering of oaky chocolate and vanilla. This is full, layered, intense an ... (20 characters truncated) ... alate, with rich flavors of chocolaty black fruits and baking spices. A toasty, everlasting finish is heady but ideally balanced. Drink through 2023.', 'Carodorum Selección Especial Reserva', 96, 110.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Bodega Carmen Rodríguez'), ('US', 'Mac Watson honors the memory of a wine once made by his mother in this tremendously delicious, balanced and complex botrytised white. Dark gold in color, it layers toasted hazelnut, pear compote and orange peel flavors, reveling in the succulence of its 122 g/L of residual sugar.', 'Special Selected Late Harvest', 96, 90.0, 'California', 'Knights Valley', 'Sonoma', 'Sauvignon Blanc', 'Macauley'), ('US', "This spent 20 months in 30% new French oak, and incorporates fruit from Ponzi's Aurora, Abetina and Madrona vineyards, among others. Aromatic, dense  ... (88 characters truncated) ... herry, coffee and graphite. Tannins are polished to a fine sheen, and frame a finish loaded with dark chocolate and espresso. Drink now through 2032.", 'Reserve', 96, 65.0, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Pinot Noir', 'Ponzi'), ('France', 'This is the top wine from La Bégude, named after the highest point in the vineyard at 1200 feet. It has structure, density and considerable acidity t ... (78 characters truncated) ... extra richness and concentration. Produced by the Tari family, formerly of Château Giscours in Margaux, it is a wine made for aging. Drink from 2020.', 'La Brûlade', 95, 66.0, 'Provence', 'Bandol', None, 'Provence red blend', 'Domaine de la Bégude'), ('Spain', 'Deep, dense and pure from the opening bell, this Toro is a winner. Aromas of dark ripe black fruits are cool and moderately oaked. This feels massive ... (17 characters truncated) ... t sensationally balanced. Flavors of blackberry, coffee, mocha and toasty oak finish spicy, smooth and heady. Drink this exemplary Toro through 2023.', 'Numanthia', 95, 73.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Numanthia'), ('Spain', "Slightly gritty black-fruit aromas include a sweet note of pastry along with a hint of prune. Wall-to-wall saturation ensures that all corners of one ... (21 characters truncated) ...  Flavors of blackberry, mocha and chocolate are highly impressive and expressive, while this settles nicely on a long finish. Drink now through 2024.", 'San Román', 95, 65.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Maurodos'), ('Spain', 'Lush cedary black-fruit aromas are luxe and offer notes of marzipan and vanilla. This bruiser is massive and tannic on the palate, but still lush and ... (59 characters truncated) ...  cassis flavors are hardly wallflowers. On the finish, this is tannic and deep as a sea trench. Drink this saturated black-colored Toro through 2023.', 'Carodorum Único Crianza', 95, 110.0, 'Northern Spain', 'Toro', None, 'Tinta de Toro', 'Bodega Carmen Rodríguez')  ... displaying 10 of 150930 total bound parameter sets ...  ('France', 'A perfect salmon shade, with scents of peaches, cherries and toast. It hits the palate with big, ripe, fresh fruit: crisp apples, peaches, cherries and citrus. Concentrated and full, with a tart, fresh back end that lingers into a cherry-vanilla finish.', 'Grand Brut Rosé', 90, 52.0, 'Champagne', 'Champagne', None, 'Champagne Blend', 'Gosset'), ('Italy', 'More Pinot Grigios should taste like this. A rich pear-like nose is followed by crisp acidity, a medium body and a viscous mouthfeel. The finish is long and redolent of pears and citrus. And all for $15!', None, 90, 15.0, 'Northeastern Italy', 'Alto Adige', None, 'Pinot Grigio', 'Alois Lageder'))]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [21]:
wine_import

      ID        Country           Imports % change from 2018 imports
0      0   United States  $6,487,295,000                       0.60%
1      1  United Kingdom  $4,429,517,000                       1.30%
2      2         Germany  $2,883,085,000                      -9.10%
3      3           China  $2,444,671,000                     -14.40%
4      4          Canada  $1,949,254,000                      -2.40%
..   ...             ...              ...                        ...
216  216        Kiribati         $22,000                        -29%
217  217         Somalia         $10,000                     -56.50%
218  218       Palestine          $8,000                     -84.30%
219  219        Pitcairn          $6,000                          0%
220  220         Eritrea          $4,000                     -91.50%

[221 rows x 4 columns]

In [24]:
# turn pandas csv dataframe into sqlite database imports


wine_import.to_sql(name='imports', con=engine, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table imports has no column named Country
[SQL: INSERT INTO imports ("ID", "Country ", "Imports", "% change from 2018 imports") VALUES (?, ?, ?, ?)]
[parameters: ((0, 'United States', '$6,487,295,000 ', '0.60%'), (1, 'United Kingdom', '$4,429,517,000 ', '1.30%'), (2, 'Germany', '$2,883,085,000 ', '-9.10%'), (3, 'China', '$2,444,671,000 ', '-14.40%'), (4, 'Canada', '$1,949,254,000 ', '-2.40%'), (5, 'Japan', '$1,810,724,000 ', '7.10%'), (6, 'Netherlands', '$1,358,098,000 ', '-2%'), (7, 'Switzerland', '$1,211,942,000 ', '-0.30%')  ... displaying 10 of 221 total bound parameter sets ...  (219, 'Pitcairn', '$6,000 ', '0%'), (220, 'Eritrea', '$4,000 ', '-91.50%'))]
(Background on this error at: http://sqlalche.me/e/13/e3q8)